<div id="box_1">
	<div id="background_1"></div>
	<div class="register" >	
	
	  <form action="">
		  <input type="text" ><label class="Metka" name="LOGIN"> Login </label></input>
	    <input type="Password" ><label class="Metka" name="PASSWORD"> Password </label></input>
	    <input type="Submit" value="Enter" class="Button" ></input>
	    <input type="Submit" value="Register" class="Button" ></input>
	  </form>	
	</div>
	</div>

	<div class="welcome_text">
		<div id="background_2"></div>
		<pre id="text_1">
		  <span>You are welcomed by a new social network - ___________!</span><br/>
		</pre>
			

		<img src='/assets/74537071.jpg' style="padding: 60px 0 0 0; box-shadow: 0 0 10px rgba(0,0,0,0.5); width:100%;" >
	</div>