<div>
	<div id="background_3"></div>
<div class="reg_table">
	
	<form>
		<table id="table_reg" class="text_style_table">
			<tr>
				<td> <p> Name </p></td>
				<td><input type="text" name="Name" placeholder="Enter your name"></input></td>
			</tr>
			<tr>
				<td> <p> Surname </p></td>
				<td><input type="text" name="Surname" placeholder="Enter your surname"></input></td>
			</tr>
			<tr>
				<td> <p> Nick </p></td>
				<td><input type="text" name="Nick" placeholder="Enter your nick-name"></input></td>
			</tr>
			<tr>
				<td> <p> E-mail </p></td>
				<td><input type="text" name="E_mail" placeholder="Enter your e-mail"></input></td>
			</tr>
			<tr>
				<td> <p> Password </p></td>
				<td><input type="password" name="Pass" placeholder="Enter your password"></input></td>
			</tr>
			<tr>
				<td> <p> Confirm password </p></td>
				<td><input type="password" name="Conf_pass"></input></td>
			</tr>
			<tr>
				<td><input type="checkbox"; name="flag_1"><label>   License agreement </label></input> </td>
				
			</tr>
		</table>
		<input type="submit" name="submit" value="Submit" id="submit_button" class="button_registration"></input>
	</form>
</div>
</div>

