// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fon{
	background-image: url('nature-beautiful-wallpapers-scenery-wallpaper.jpg');
	-presto-background-image: url("nature-beautiful-wallpapers-scenery-wallpaper.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: auto;
	
}
.reg{
	text-decoration: none;
}
div.login input:focus{
	border-color:rgba(255,25,33,.75);
	box-shadow:0 0 8px rgba(225,25,33,.5);
	z-index: 2;

}
input:hover{
	border-color:rgba(255,25,33,.75);
}
#box_1{
	position: absolute;
	top: 15%;
	left: 50px;
	width: 250px;
	height: 200px;

	
}
label.Metka{
	font-weight: bold;
	text-align: center;
	color: black;
	font-size: 18px;
	text-shadow: 5px 5px 12px black;
	z-index: 2;
}
input.Button{
	font-weight: bold;
	color: black;
	width: 75px;
	text-align: center;
	background-color: white;
	z-index: 2;
	margin-bottom: 10px;
}
input.Button:hover{
	color: red;
}
.welcome_text{
	width: auto;
	height: auto;
	float: right;
	size:auto;
	margin-right: -300px;
	margin-top: -50px;

}
#text_1{
	width: auto;
	height: auto;
	font-size: 20px;
	text-shadow: 5px 5px 12px black;
	font-weight: bold;
	
}
div.welcome_text pre span{
	padding: 5px 5px 5px 5px;
	
}
div.welcome_text pre{
	position: relative;
	top: 50px;
	right: 5%;
	z-index: 2;
}
#background_1{
	width: 275px;
	height: 160px;
	background-color: white;
	opacity: 0.7;
	z-index: 1;
	border: 1px solid white;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
div.register{
	position: absolute;
	top: 10%;
	left: 5%;
}
#background_2{
	position: absolute;
	top: 15px;
	width: 908px;
	height: 50px;
	background-color: white;
	opacity: 0.5;
	border: 1px solid white;
	z-index: 1;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
div.register form input{
	margin-bottom: 10px;
}
#global_container{
width: 1000px;
height: 750px;
}
.Button_registration{
	font-weight: bold;
	color: black;
	width: 100px;
	text-align: center;
	background-color: white;
	z-index: 2;
	margin-bottom: 10px;
	text-decoration:none;
}
.Button_registration:hover{
	color: red;
	border-color:rgba(255,25,33,.75);
}

/*
далее css для страницы регистрации
*/
div.reg_table{
	position: absolute;
	top: 10%;
	left: 40%;
	z-index: 1;
}
#background_3{
	position: absolute;
	top: 10%;
	left: 39%;
	
	background-color: white;
	width: 370px;
	height: 410px;
	opacity: 0.7;
}
#table_reg{
	z-index: 2;
}
.text_style_table{
	
	font-weight: bold;
	text-shadow: 5px 5px 12px black;
}
#submit_button{
margin-left: 135px;
margin-top: 10px;
}
/* Всплывающее окно*/

a {color:#F00}

.title {
	text-align: center;
	font: 700 12 Verdana, Geneva, sans-serif;
	color: #666
}
#open_block { 
   	position: absolute;
   	width: 320px;
	top: 0px;
	right:-500px;
	display: none;
  	z-index: 10;
    overflow: hidden;
	background: #f6f6f6;
}
#close {
	float: right;
	font: 10px Verdana, Geneva, sans-serif;
	color: #999;
	margin: 10px 0 0 0;
}
.content {margin-right:0;color:#999;font: 11px Verdana, Geneva, sans-serif;text-align:justify}	
.top_left0, .top_right0, .bottom_left0, .bottom_right0 {width:22px;height:22px}
	.top_left0 {background:url(img/white/top_left.png) no-repeat}
	.top_right0 {background:url(img/white/top_right.png) no-repeat}
	.bottom_left0 {background:url(img/white/bottom_left.png) no-repeat}
	.bottom_right0 {background:url(img/white/bottom_right.png) no-repeat}
.top0, .bottom0 {height:22px}
	.top0 {background:url(img/white/top.png) repeat-x}
	.bottom0 {background:url(img/white/bottom.png) repeat-x}
.left0, .right0 {width:22px}
	.left0 {background:url(img/white/left.png) repeat-y}
	.right0 {background:url(img/white/right.png) repeat-y}
#pop_up{
	text-shadow:none;
}
#first_letter{
	font-size: 20px;

}
