// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fon{
	background-image: url('nature-beautiful-wallpapers-scenery-wallpaper.jpg');
	-webkit-background-image: url("nature-beautiful-wallpapers-scenery-wallpaper.jpg");
	-moz-background-image: url("nature-beautiful-wallpapers-scenery-wallpaper.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: auto;
	
}
.reg{
	text-decoration: none;
	padding-top: 10px;
}
div.login input:focus{
	border-color:rgba(255,25,33,.75);
	box-shadow:0 0 8px rgba(225,25,33,.5);
	z-index: 2;

}
input:hover{
	border-color:rgba(255,25,33,.75);
}
#box_1{
	position: absolute;
	top: 15%;
	left: 50px;
	width: 250px;
	height: 200px;

	
}
label.Metka{
	font-weight: bold;
	text-align: center;
	color: black;
	font-size: 18px;
	text-shadow: 5px 5px 12px black;
	z-index: 2;
}
input.Button{
	font-weight: bold;
	color: black;
	width: 75px;
	text-align: center;
	background-color: white;
	z-index: 2;
	margin-bottom: 10px;
}
input.Button:hover{
	color: red;
}



#welcome_image{
	position: absolute;
	top: 100px;
	left: 400px;
}
#text_1{
	position: absolute;
	top: 35px;
	left: 545px;
	width: 200px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	margin-right: 0px;
	font-size: 20px;
	text-shadow: 5px 5px 12px black;
	font-weight: bold;
	
}
#background_1{
	width: 275px;
	height: 160px;
	background-color: white;
	opacity: 0.7;
	z-index: 1;
	border: 1px solid white;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
div.register{
	position: absolute;
	top: 10%;
	left: 5%;
}
#background_2{
	position: absolute;
	top: 40px;
	left: 480px;
	width: 316px;
	height: 58px;
	background-color: white;
	opacity: 0.5;
	border: 1px solid white;
	z-index: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
div.register form input{
	margin-bottom: 10px;
}
#global_container{
width: 1000px;
height: 750px;
}
.button_registration{
	font-weight: bold;
	color: black;
	width: 120px;
	background-color: white;
	z-index: 2;
	margin-bottom: 10px;
	margin-top: 20px;
	text-decoration:none;
	padding-right: 5px;
}
.button_registration:hover{
	color: red;
	border-color:rgba(255,25,33,.75);
}

/*
далее css для страницы регистрации
*/
div.reg_table{
	position: absolute;
	top: 10%;
	left: 40%;
	z-index: 1;
}
#background_3{
	position: absolute;
	top: 10%;
	left: 39%;
	
	background-color: white;
	width: 370px;
	height: 410px;
	opacity: 0.7;
}
#table_reg{
	z-index: 2;
	width: 350px;
}
.text_style_table{
	
	font-weight: bold;
	text-shadow: 5px 5px 12px black;
}
#submit_button{
margin-left: 135px;
margin-top: 10px;
}
/* Всплывающее окно*/

a {color:#F00}


#open_block { 
	position: absolute;
	margin-left: 50px;
	top: 0px;
	left: 100%;
	width: 320px;
	display: none;
  	z-index: 1;
    overflow: hidden;
	background: white;
	opacity: 0.7;
}
#close {
	float: right;
	font-size: 20px;
	font-family: serif;
	color: red;
	margin-right: 10px;
}
#title_agree{
	color: red;
	font-size: 16px;
}


.pop_up{
	margin-left: 5px;
	margin-right: 5px;
	text-shadow:none;
z-index: 10;
font-size: 10px;

}
#first_letter{
	font-size: 20px;
}
#person_name, #person_surname, #person_nickname, #person_email, #person_password, #person_password_confirm{ 	width: 150px; }

